@import '../../../variables.scss';
@import '../../../sass/style.scss';

ul {
  list-style: none;
  // display: flex;
  // justify-content: space-between;
}
.ff{
  position: absolute;
  width: 100%;
  z-index: -5;
  display: none;
}

.boxes{
  position: absolute;
  // width: 100%;
  bottom: 10vh;
  @include bp(max,766px){
    bottom: 19vh;
  }
  .box{ 
      height: 150px;
   text-align: center;
      background: #FFCCBB;
      background: $primary-dark-color;
      margin: 5px;
      padding: 0 5px ;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba($white, 1);
      border-radius: 10px;
      
      @include bp(max,766px){
      
        
        height: 100px;
      }
  }
  #i-2{
    // width: 200px;
    // border-radius: 50%;
  }
}

.headers {
  &-details {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
     
    @include bp(max,766px){
      min-height: 30vh;
      margin-top: 5vh;
    }
    h4 {
      margin-bottom: 2px;
      color: $primary-color;
    }
    h1 {
      line-height: 0.9;
      color: rgba($primary-dark-color, 1);
    }
    &-3{
      margin-top: 0.7em;
    }
  }
}

.hero {
  span {
    color: $accent-color;
  }
  margin-bottom: 5vh;
}

.menu {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  ul {
    padding-left: 0;
     list-style: none;
  display: flex;
  justify-content: space-between;
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.circle-top {
  background: $primary-color;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  position: absolute;
  left: -10vw;
  top: -10vh;
}

.side{
  min-height: 40vh;
  margin-bottom: 10vh;
  @include bp(max,766px){
    margin-top: 10vh;
    margin-bottom: 0vh;
  }
}

.side-circle {
  width: 60vw;
  height: 60vw;
  margin: 10px;
  position: absolute;
  top: -20%;
  left: 10%;
  z-index: -1;
  @include bp(max,766px){
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    @include centerer;
    position: relative;
  }

  &__rotate {
    animation: rotateCircle 30s ease-in 0s infinite alternate;
    border: 25px solid rgba($primary-color, 1);
    border-radius: 50%;
    border-style: dotted;
    width: 100%;
    height: 100%;
    &:hover{
       animation: rotateCircle 10s ease-in 0s infinite alternate;
    }
  }

  &__profile {
    position: absolute;
    border: 6px solid $primary-color;
    border-radius: 50%;
    width: 40vw;
    height: 40vw;
    margin: 10px;
    top: 20%;
    left: 5%;
    display: flex;
    justify-content: center;
    padding: 5px;
  }

  .bio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &-circle {
      background: rgba($primary-color, 0.6);
      border-radius: 50%;
      width: 200px;
      height: 200px;
      overflow: hidden;
      border: 1px solid $primary-color;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-text {
      width: 80%;
    }
  }
}

.indicators {
  background: url('../../../assets/SVG/lifRedStk.svg');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  transform: scale(1);
  transition: all 300ms;

  &:hover {
    background: url('../../../assets/SVG/lifRedShdw.svg');
    background-repeat: no-repeat;
    transform: scale(1.2);
  }
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
