@import '../../../variables.scss';

.skills {
  margin-top: 200px;
  margin-bottom: 20px;
}
.my-skills {
  background-repeat: no-repeat;
  width: 100%;
  min-height: 70vh;
  position: relative;

  #accordion {
    .card-border {
      border: 1px solid $primary-color;
    }
    .header-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      color: $primary-color;
      transform: translateY(-50%);
      animation: upDown 2s ease-in infinite alternate-reverse;
    }
    .card-body{
      background-color: #dae1eb;
    }
    .card-header {
      cursor: pointer;
      position: relative;
      span {
        display: inline-block;
        color: $primary-color !important;
        font-size: 1rem;
        line-height: 1.5;
        margin: 0.375rem;
        color: inherit;
        text-transform: uppercase;
        word-wrap: break-word;
        white-space: normal;
        padding: 0.375rem 0.75rem;
      }
    }
    .card-header--no-highlight {
      &:hover {
        .header-icon {
          color: $accent-color;
          transform: scale(1.5) translateY(-50%);
        }
      }
    }
    .card-header--highlight {
      background-color: $primary-dark-color !important;
      span {
        color: $white !important;
      }
    }
  }

  .skill-drops {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    li {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 23%;
      padding: 3px 3px;
      .skill-header {
        margin-bottom: 0;
      }
      .rating {
        position: relative;
        width: 2rem;
        img{
          // filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0,0,0,.5)) drop-shadow(-0.2rem -0.2rem 0.2rem rgba(255,255,255,1)) ;
        }

        .rating-percentage {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -30%);
          color: $white;
        }
      }
    }
  }
}

@keyframes rotateLif {
  0% {
    transform: translateX(-50%) rotate(-10deg);
  }
  100% {
    transform: translateX(-50%) rotate(10deg);
  }
}
@keyframes upDown {
  0% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(30%);
  }
}

.pp{
  display: flex;
  flex-direction: column;
  @include bp(max,766px){
    margin-top: 10vh;
  }

}
.process {
  position: relative;
  background: $primary-dark-color; 
  flex: 1;
  // height: 100vh;
 

  .big-lif {
    position: relative;
    transform: rotateX(180deg);
    // display: none;

    // max-height: 110vh;

  }
  .details {
    width: 100%;
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    // position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    color:$white;
    margin-bottom: 10vh;

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      height: fit-content;

      li {
        width: 40%;
        min-height: 30px;
        height: fit-content;
        margin: 40px 5px;
        text-align: center;
        display: flex;
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include bp(max,766px){
          width: 100%;
          margin: 20px 5px;
        }
        &:nth-of-type(1) {
          width: 60%;
        }
        .circle {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: white;
          margin-bottom: 10px;
          position: relative;
          padding: 2px;
          >* {
            padding: 2px;
            // font-size: 3em !important;
            color: $accent-color;
            @include centerer
          }
        }
        p {
          color: white;
        }
        .summary {
        }
      }
    }
  }
}
