// @import  url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");
@import  url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
@import  url("https://fonts.googleapis.com/css?family=Poppins:300,400,500i,900,900i&display=swap");

body {
  margin: 0;
  
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family:  'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

h1, h2, h3, h4 {
  font-family:  'Baloo Bhai', cursive !important; 
  font-family:   'Righteous', cursive !important; 
  font-family:   'Poppins', sans-serif !important; 
}
h1{
  font-size: 3.5rem !important;
  font-weight: 900 !important;
}

p{
  font-size: 0.8rem !important;
}

code { 
  // font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  //   monospace;
}

.comp-view{
  min-height: 100vh;
  width: 100vw;
}
